@import '../shared/scss/variables';

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: $sidebar-width;
  z-index: 1;
  background-color: #eee;
  height: 100%;
  overflow-x: auto;
}
