@import '../variables';

.sidebar {
  .action {
    padding: 20px;
    font-weight: 200;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-right: 2px solid transparent;

    label {
      font-weight: 200;
      display: block;
      margin: 0;
      margin-bottom: 10px;
    }

    svg {
      height: 20px;
      width: auto;
      margin-bottom: 5px;
    }

    .split {
      display: flex;
      justify-content: center;
      > div {
        padding: 0 10px;
      }
    }
  }

  .clickable {
    cursor: pointer;
  }

  .run, .passed {
    background-color: $success-dark;
    color: $success-light;
    &.active {
      border-right: 2px solid darken($success-light, 20);
      .search {
        color: darken($success-light, 20);
        cursor: default;
      }
    }
    .clickable, &.clickable {
      &:hover {
        color: darken($success-light, 20);
      }
    }
  }

  .running {
    background-color: $info-dark;
    color: $info-light;
    &.active {
      border-right: 2px solid $info-light;
    }
    .clickable, &.clickable {
      &:hover {
        color: darken($info-light, 20);
      }
    }
  }

  .failed {
    background-color: $danger-dark;
    color: $danger-light;
    &.active {
      border-right: 2px solid darken($danger-light, 20);
      .search {
        color: darken($danger-light, 20);
        cursor: default;
      }
    }
    .clickable, &.clickable {
      &:hover {
        color: darken($danger-light, 20);
      }
    }
  }
}
