@import '../shared/scss/variables';

.sidebar {
  ul.files {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #333;

    > li {
      padding: 5px 20px;
      display: flex;
      align-items: center;
      border-right: 2px solid transparent;

      &:hover {
        cursor: pointer;
        background-color: #f4f3f3;
      }

      &.active {
        background-color: darken(#f4f3f3, 10);
        color: $info-light;
        svg {
          color: $info-light;
          fill: $info-light;
        }
      }

      svg {
        height: 18px;
        margin-right: 10px;
        width: auto;
        fill: #333;
      }
    }
  }
}
